# Node
node_modules/
dist/
dist-ssr/
*.local
*.tsbuildinfo
.eslintcache

# Coverage & caches
coverage/

# Tauri / Rust
src-tauri/target/
src-tauri/gen/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
